.cover__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/zhd-baikal.png);
  width: 100%;
  aspect-ratio: 1184 / 740;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration-line: none;
}

