.cover{
  background-image: url(../../../images/zhd-baikal.png);
  position: relative;
  display: flex;
  margin: 91px auto 0;
  max-width: 1184px;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 740px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cover::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: .3;
  transition: opacity .4s ease;
}

.cover:hover::before{
  opacity: .8;
}
