.intro__fact{
  max-width: 690px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;


  color: #fff;
 /* font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;*/
}

@media screen and (max-width: 768px){
  .intro__fact{
    max-width: 720px;
  }
}
